<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA03HMVvdqVKQ3DPuDZYDyUb33TBerLMWs</string>
	<key>GCM_SENDER_ID</key>
	<string>423907359516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickh</string>
	<key>PROJECT_ID</key>
	<string>quickh-d9a43</string>
	<key>STORAGE_BUCKET</key>
	<string>quickh-d9a43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423907359516:ios:4cdd2e9f22cbe74be518d9</string>
</dict>
</plist>